{% extends 'base.html' %}

{% block content %}

<div class="row mt-5">
    <div class="card card-body text-center">
        <h1><i class="fab fa-python fa-3x"></i></h1>
        <p>Ger's Garage - Final Proyect</p>
        <p>Student Name - Claudia Gonzalez</p>
        <p>Student Id - 2020085</p>
    </div>
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <p>Create an account or login</p>
            <a href="{% url 'pages:register' %}" class="btn btn-primary btn-block mb-2">Register</a>
            <a href="{% url 'pages:login' %}" class="btn btn-secondary btn-block">Login</a>
        </div>
    </div>
</div>

{% endblock %}