{% extends 'base.html' %}

{% block content %}
<div class="row mt-5">
    <div class="card card-body">
        <h1 class="text-center mb-3"><i class="fas fa-wrench"></i> SERVICES</h1>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil corrupti, accusamus velit non
                        corporis placeat deleniti earum error id officia. Enim ipsam ad placeat sed excepturi! Nisi iste
                        ratione et.</p>
                </div>
                <div class="col">
                    <p></p>
                    <a href="{% url 'bookings:booking' %}" class="btn btn-primary btn-block mb-2">Booking an Annual
                        Service</a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <p></p>
                    <a href="{% url 'bookings:booking' %}" class="btn btn-primary btn-block mb-2">Booking a Mayor
                        Service</a>
                </div>
                <div class="col">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil corrupti, accusamus velit non
                        corporis placeat deleniti earum error id officia. Enim ipsam ad placeat sed excepturi! Nisi iste
                        ratione et.</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil corrupti, accusamus velit non
                        corporis placeat deleniti earum error id officia. Enim ipsam ad placeat sed excepturi! Nisi iste
                        ratione et.</p>
                </div>
                <div class="col">
                    <p></p>
                    <a href="{% url 'bookings:booking' %}" class="btn btn-primary btn-block mb-2">Booking a Repair/Fault
                        Service</a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <p></p>
                    <a href="{% url 'bookings:booking' %}" class="btn btn-primary btn-block mb-2">Booking a Mayor
                        Repair</a>
                </div>
                <div class="col">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil corrupti, accusamus velit non
                        corporis placeat deleniti earum error id officia. Enim ipsam ad placeat sed excepturi! Nisi iste
                        ratione et.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}