{% extends 'base.html' %}

{% block content %}

<div class="row mt-5">
    <div class="card card-body text-center">
        <h1><i class="fas fa-cogs fa-3x"></i></h1>
        <p>Select a date and booking with us!</p>
    </div>
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <p></p>
            <a href="{% url 'bookings:booking' %}" class="btn btn-primary btn-block mb-2">Booking a Service</a>
            <a href="{% url 'bookings:booking' %}" class="btn btn-secondary btn-block">Last Bookings</a>
        </div>
    </div>
</div>

{% endblock %}